.do-hyeon-regular {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Do Hyeon", sans-serif;
  letter-spacing: 0.05em;
  font-size: 25px;
}

h1 {
  margin: 20px;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.image-container img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image.container {
  display: flex;
  flex-direction: column;
}

#uploadBtn {
  background-color: #fcba03;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease, color 0.3s ease;
}

#uploadBtn:hover {
  background-color: white;
  color: #fcba03;
  border: 1px dashed #fcba03;
}

#Classify {
  background-color: #fcba03;
  color: white;
  border: none;
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease, color 0.3s ease;
}

#Classify:hover {
  background-color: white;
  color: #fcba03;
  border: 1px dashed #fcba03;
}

#res {
  font-size: 20px;
}

footer {
  bottom: 0px;
  position: absolute;
  color: #c8c8c8;
  align-items: center;
  justify-content: center;
  text-align: center;
}
footer a {
  text-decoration: none;
  text-decoration-color: none;
  text-decoration-line: none;
  color: #c8c8c8;
  align-items: center;
  justify-content: center;
  text-align: center;
}
